body {
	background-color: #42647f;
}
p{
	font-family: Verdana;
}
dt{
	font-family: Verdana;
}
dd{
	font-family: Verdana;
}
li {
	font-family: Verdana
}
h1 {
	font-family: Verdana;
	text-align: center;
	background-color: #cccccc;
 }
#first_picture {
	width:720px;
	height:960px;
	float:left;
	
	border: 3px solid;
}
#second_picture {
	width: 700px;
	float: right;

}
#third_picture {
	width: 300px;
	height: 300px;
	float: bottom;
}
#first_link {
	text-align:right;
	font-family: Verdana;
	line-height: 500%;
	font-size: 90%;
}
#second_link {
	text-align:right;
	font-family: Verdana;
	font-size: 90%;
	line-height:500%;
}

.headers {
	font-family: Arial;
	background-color: #226677;
	width: 300px;

}
