body {
	background-color: #d8e4d4;
}
p{
	font-family: Verdana;
}
dt{
	font-family: Verdana;
}
dd{
	font-family: Verdana;
}
li {
	font-family: Verdana
}
h1 {
	font-family: Verdana;
	text-align: center;
	background-color: #c0d6e4;
 }
#first_picture {
	width:720px;
	height:960px;
	float:left;
	border: 3px solid;
}
#second_picture {
	width: 700px;
	float: right;

}
#third_picture {
	width: 300px;


}
#first_link {
	text-align:right;
	font-family: Verdana;
	line-height: 500%;
	font-size: 90%;
}
#second_link {
	text-align:right;
	font-family: Verdana;
	font-size: 90%;
	line-height:500%;
}

.headers {
	font-family: Arial;
	background-color: #c0d6e4;
	width: 300px;

}
.block {
	background-color: #c1bbb3;
	width: 600px;
	border: solid;
}
